body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************** Navbar **************************************/

.navbar {
    background-color: #4b2801d0;
   
}
.navbar-nav  a {
   text-decoration: none;
   font-family: 'Lora', serif;
  
   
}
.dropdown-menu a:hover{
    background-color:  #4b2801d0;
    color: white;
}

/****************************** End Navbar **************************************/


/****************************** Carousel **************************************/


