body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************** Navbar **************************************/

.navbar {
    /* background-color: #4b2801d0; */
    background-image: linear-gradient(to right top, #3f3636, #7e6b66, #bfa899, #ffebce);
   
}
.navbar-nav  a {
   text-decoration: none;
   font-family: 'Kurale', serif;
  
   
}
.dropdown-menu a:hover{
    background-image: linear-gradient(to right top, #3f3636, #7e6b66, #bfa899, #ffebce);
    color: white;
}

/****************************** Form search*********************************/

.box1{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding:10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box1:hover input{
    width: 250px;
}

.box1 input{
    width: 0;
    outline:none;
    border:none;
    font-weight: 500;
    transition:0.8s;
    background: transparent;
}

.box1 a .fas
{
    color: #000000;
    font-size: 18px;
}





