.panier-img{
    height: 150px;
}



/**********************************************************/







/* .panier {
    text-align: center;
    font-family: 'Kurale', serif;
    
}
.intitule{
    text-align: center;
    font-size: 1.1em;
    font-family: 'Philosopher', sans-serif;
   

}

/* .container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
} */

/* .supprimer-panier {
    height: 18px;
} */ 