.imgInfos {
    width: 125px;
    height: 125px;
}

.bloc {
    margin-top: 10%;
}

.container-box{
    margin: 4px;
    
}



.text-center {
    font-family: 'Lora', serif;
}
p {
    color:black;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



