.carousel-item img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    -webkit-filter : grayscale(40%); 
    filter : grayscale(40%);
} 

.carousel-caption h1 {
   text-align: center;
  
   
 
 }

span{
    color:black;
 }

 .carousel-caption .btn {
    margin-bottom: 20%;
 }



.title-carousel{
    font-size: 2.5em;
    color:white;
    text-shadow: 4px 4px 2px #000000;
    font-weight:bold;
    font-family: 'Kurale', serif;
   
}

