
.titre_category  {
    color: black;
    font-family: 'Artifika', serif; 
    text-shadow: 2px 2px 2px #000000;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-top:5%;
    margin-bottom: 3%;
}
.card .card-img-top {
    object-fit: cover;
    object-position: center;
    width:80%;
    height: 280px;
    -webkit-filter : grayscale(40%); 
    filter : grayscale(40%);
    clip-path: circle(47.0% at 50% 51%);
    margin: auto;

     
}





.card-img-top:hover {
  
    width:100%;
    transition: 0.5s;
    box-shadow: 3px 3px 15px black!important;
}
.col .card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-image: linear-gradient(to right top, #3f3636, #7e6b66, #bfa899, #ffebce);
   
  
   
   
}

.carousel-control-next-icon {
    color:white;
    text-shadow: 4px 4px 2px #000000;
}

.card-title {
    text-align: center;
    color:white;
    text-shadow: 6px 6px 6px #000000;
    font-family: 'Artifika', serif;
    margin-top: -70%;
    font-size: 1.3em;
    cursor: pointer;
    /* background-color: #212121; */
    box-shadow: 6px 6px 5px #494949, -3px -3px 3px #100f0e;
               
    
}

.card-title:hover {
   
        box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 10px #2b2b2b;
        transform: scale(0.98);
    }



.box .text {
    background: rgba(11, 11, 11, 0.8);
    padding: 15px;
    margin:0 auto;
    border-radius: 10px;
        
} 

.card-body .box {
    background-color:#4b2801d0;
   
}
.card a {
    text-decoration: none;
}

/* .box .text:hover{
    background: rgba(41, 41, 41, 0.8);

} */

