.main_footer {
    background-image: linear-gradient(to right bottom, #3f3737, #6e605d, #9a8678, #fcdba9);
    margin-top: 100px;
}


.list {
    list-style-type: none;
    font-family: 'Lora', serif;
    cursor: pointer;
    font-size: 1.1em;
    padding: 0;
    
}

.a-list {
    color:white;
    list-style-type: none;
    font-size: 1.2em;
}

li a {
    color:black;
}
li a:hover {
    color:black;
}



.footer-para {
    text-align: center;
}

.div_cont_footer {
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    width: auto;
}

.section{
    width: auto;
}